<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting label="30901" type="bool" id="uselogin" default="false"/>
        <setting label="30902" type="text" id="user" default="" enable="eq(-1,true)"/>
        <setting label="30903" type="text" id="password" default="" enable="eq(-2,true)"/>
    </category>
</settings>
